:root {
    --header-color: #fff;
    --border-color: #ccc;
}

[data-theme="dark"] {
    --header-color: #093545;
    --border-color: #224957;
}

.header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
    height: var(--header-height);
    background-color: var(--header-color);
    color: var(--text-primary);
    border-bottom: 1px solid var(--border-color);
    .logo {
        width: 100%;
        max-width: 360px;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        // overflow: hidden;

        a {
            cursor: pointer;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .search {
        flex: 1;
        position: relative;

        &-input {
            width: 99%;
            border-radius: 20px;
            height: 40px;
            padding: 8px 20px 8px 48px;
            font-size: 1.6rem;
            background-color: var(--background-secondary);
            color: var(--text-primary);
            text-align: center;

            &::placeholder {
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: var(--text-secondary);
                opacity: 1; /* Firefox */
                text-align: center;
            }

            &:-ms-input-placeholder {
                /* Internet Explorer 10-11 */
                color: var(--text-secondary);
            }

            &::-ms-input-placeholder {
                /* Microsoft Edge */
                color: var(--text-secondary);
            }
        }

        &-icon {
            position: absolute;
            width: 20px;
            left: 20px;
            top: 10px;
            color: var(--text-secondary);
        }
    }

    .user {
        display: flex;
        gap: 12px;
        margin-right: 12px;
        width: 100%;
        max-width: 360px;
        justify-content: flex-end;
        &-avatar,
        &-noti,
        &-mess {
            cursor: pointer;
            background-color: var(--icon-background);
            border-radius: 20px;
            width: 40px;
            height: 40px;
            overflow: hidden;
        }

        &-avatar {
            img {
                width: 100%;
                height: 100%;
            }
        }

        &-noti,
        &-mess {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                filter: var(--icon-color);
            }
        }
    }
}

.user-dropdown {
    width: 200px;

    .ant-dropdown-menu {
        background-color: var(--background-secondary);
    }
}
