:root {
    --profile-background: #fff;
    --profile-text-color: #224957;
    --profile-primary: #000000;
    --menu-hover: #ededed;
    --sidebar-border-color: #cccccc;

    --post-background-color: #fff;
    --upload-input-color: #e5e8ed;
}

[data-theme="dark"] {
    --profile-background: #093545;
    --profile-text-color: #fff;
    --profile-primary: #20df7f;
    --menu-hover: #093545;
    --sidebar-border-color: #cccccc80;

    --post-background-color: #0c3e50;
    --upload-input-color: #3f5c66;
}

.profile {
    display: flex;
    min-height: calc(100vh - var(--header-height));
    background-color: var(--background-secondary);
    gap: 16px;

    &-col-side {
        width: 23.3%;
        // position: fixed;
    }

    &-col-central {
        margin: 0 23.3%;
        flex: 1;
        display: flex;
        justify-content: center;

        .feeds {
            width: 80%;
            margin-top: 19px;
            .upload-section {
                .upload {
                    background-color: var(--post-background-color);
                    display: flex;
                    align-items: flex-start;
                    padding: 16px;
                    border-radius: 8px;
                    gap: 12px;

                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 20px;
                    }

                    .upload-input {
                        cursor: pointer;
                        background-color: var(--upload-input-color);
                        color: var(--text-primary);
                        height: 69px;
                        width: 100%;
                        border-radius: 16px;
                        padding: 6px 12px;
                    }
                }
            }
        }
    }

    .profile-col-side.col-2 {
        position: fixed;
        right: 0;
    }
}
