.feeds {
    .upload-section {
        margin-bottom: 20px;
        .upload {
            background-color: var(--post-background-color);
            display: flex;
            align-items: flex-start;
            padding: 16px;
            border-radius: 8px;
            gap: 12px;

            img {
                width: 40px;
                height: 40px;
                border-radius: 20px;
            }

            .upload-input {
                cursor: pointer;
                background-color: var(--upload-input-color);
                color: var(--text-primary);
                height: 69px;
                width: 100%;
                border-radius: 16px;
                padding: 6px 12px;
            }
        }
    }
}

.feed-modal {
    .ant-modal-title {
        text-align: center;
        font-size: 2.4rem;
        padding-bottom: 16px;
        border-bottom: 1px solid #eee;
    }

    .ant-modal-body {
        textarea {
            border: none;
            padding: 8px;
            font-size: 1.8rem;

            &:focus {
                box-shadow: none;
            }
        }

        form {
            display: flex;
            justify-content: end;
            margin: 8px;

            .file-btn {
                border-radius: 4px;
                padding: 4px;
                cursor: pointer;
                border: 1px solid #333;
                display: flex;
                align-items: center;
                width: fit-content;
                gap: 8px;

                input {
                    display: none;
                }
            }
        }

        .file-preview {
            position: relative;
            img {
                width: 100%;
                max-height: 230px;
                object-fit: contain;
                margin-top: 4px;
            }
            div {
                position: absolute;
                top: 0;
                right: 2%;
                font-size: 1.6rem;
                z-index: 19;
                color: red;
                font-weight: 600;
                cursor: pointer;
                padding: 2px;
            }
        }

        .post-btn {
            width: 100%;
            padding: 12px;
            border-radius: 8px;
            background-color: #2374e1;
            color: #ffffff;
            font-size: 1.5rem;
            cursor: pointer;
            margin-top: 8px;
        }
    }
}

.feed-modal-dark {
    .ant-modal-content {
        background-color: #224957;

        .ant-modal-title {
            background-color: #224957;
            color: #fff;
        }

        .ant-modal-body {
            .ant-input {
                background-color: #224957;
                color: #fff;

                &::placeholder {
                    color: #fff;
                }
            }

            form {
                .file-btn {
                    border: 1px solid #ccc;
                    color: #ccc;

                    img {
                        filter: invert(92%) sepia(0%) saturate(456%)
                            hue-rotate(191deg) brightness(93%) contrast(83%);
                    }
                }
            }
        }

        .ant-modal-close-x {
            color: #fff;
        }
    }
}
