:root {
    --feed-background: #fff;
    --feed-text-color: #224957;
    --feed-primary: #000000;
    --menu-hover: #ededed;
    --sidebar-border-color: #cccccc;

    --post-background-color: #fff;
    --upload-input-color: #e5e8ed;

    --react-background-color: #e1e5eb;
    --react-text-color: #333;
    --react-icon-color: invert(11%) sepia(0%) saturate(1452%) hue-rotate(158deg)
        brightness(99%) contrast(77%);
    --like-react-color: #2374e1;
    --like-react-btn: invert(53%) sepia(90%) saturate(5524%) hue-rotate(203deg)
        brightness(94%) contrast(87%);
}

[data-theme="dark"] {
    --feed-background: #093545;
    --feed-text-color: #fff;
    --feed-primary: #20df7f;
    --menu-hover: #093545;
    --sidebar-border-color: #cccccc80;

    --post-background-color: #0c3e50;
    --upload-input-color: #3f5c66;

    --react-background-color: #0b536c;
    --react-text-color: #fff;
    --react-icon-color: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg)
        brightness(103%) contrast(103%);
    --like-react-color: #89cff0;
    --like-react-btn: invert(74%) sepia(16%) saturate(1037%) hue-rotate(165deg)
        brightness(105%) contrast(88%);
}

.feed {
    display: flex;
    min-height: calc(100vh - var(--header-height));
    background-color: var(--background-secondary);
    gap: 16px;

    &-col-side {
        width: 23.3%;
        // position: fixed;
    }

    &-col-central {
        margin: 0 23.3%;
        flex: 1;
        display: flex;
        justify-content: center;

        .feeds {
            width: 80%;
            margin-top: 19px;

            .post-section {
                padding-bottom: 0;

                .post {
                    border-radius: 8px;
                    overflow: hidden;
                    background-color: var(--post-background-color);
                    margin-bottom: 16px;
                    &-header {
                        padding: 16px 16px 0;
                        display: flex;
                        align-items: center;
                        gap: 12px;
                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 20px;
                        }

                        .header-info {
                            .name {
                                color: var(--text-primary);
                                font-size: 1.6rem;
                                font-weight: 500;
                            }
                            .posted-at {
                                color: #909296;
                                font-size: 1.2rem;
                            }
                        }
                    }

                    &-body {
                        display: flex;
                        justify-content: center;
                        margin-top: 12px;

                        img {
                            width: 80%;
                        }
                    }

                    &-reaction {
                        display: flex;
                        align-items: center;
                        margin: 8px 16px;
                        gap: 8px;
                        // justify-content: space-between;

                        div {
                            display: flex;
                            img {
                                margin-left: 2px;
                            }
                        }

                        .like {
                            color: var(--like-react-color);
                            img {
                                filter: var(--like-react-btn);
                            }
                        }

                        .dislike {
                            color: #ee3c5b;
                            img {
                                filter: invert(49%) sepia(70%) saturate(6602%)
                                    hue-rotate(330deg) brightness(98%)
                                    contrast(90%);
                            }
                        }
                    }

                    &-footer {
                        display: flex;
                        gap: 1px;
                        width: 100%;
                        margin-top: 8px;

                        .react-btn {
                            width: 100%;
                            cursor: pointer;
                            padding: 8px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 4px;
                            background-color: var(--react-background-color);
                            color: var(--react-text-color);

                            img {
                                filter: var(--react-icon-color);
                            }

                            &:hover {
                                opacity: 0.8;
                            }
                        }

                        .like-active {
                            color: var(--like-react-color);
                            font-weight: 600;
                            img {
                                filter: var(--like-react-btn);
                            }
                        }

                        .dislike-active {
                            color: #ee3c5b;
                            font-weight: 600;

                            img {
                                filter: invert(49%) sepia(70%) saturate(6602%)
                                    hue-rotate(330deg) brightness(98%)
                                    contrast(90%);
                            }
                        }
                    }
                }
            }
        }
    }

    .feed-col-side.col-2 {
        position: fixed;
        right: 0;
    }
}
