.signup-container {
    width: 600px;

    .signup-input-section {
        display: flex;
        flex-direction: column;

        div {
            display: flex;
            gap: 16px;
        }
    }
}
